.DS_Store
*.log
*.sock*
*.pyo
*.pyc
*.crash
*.so
*.o
*.a
* copy.*
._*
*.patch
*.diff

xcuserdata

# Created by https://www.toptal.com/developers/gitignore/api/swiftpm
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm

### SwiftPM ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj


# End of https://www.toptal.com/developers/gitignore/api/swiftpm

# Created by https://www.toptal.com/developers/gitignore/api/swiftpm
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm

### SwiftPM ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj


# End of https://www.toptal.com/developers/gitignore/api/swiftpm
.swiftpm